#wrap{
	height: 1055px;
	width: 100%;
	/*background: #1e50ae;*/
}
#head{
	height: 495px;/*495px*/
	width: 100%;
}#head_top{
	height: 110px;
	width: 100%;
	background:#1e50ae;
}
#head_top span{
	display: block;
	float: left;
	font-family:"宋体";
	font-size: 35px;
	color: #ffffff;
	font-weight: bolder;
	letter-spacing: 5px;
	margin: 35px 0 0 130px;
}
#head_top #nav{
	float: right;
	margin: 35px 80px 0 0;
	width: 40%;
}
#head_top #nav li{
	float: left;
	font-family: "仿宋";
	font-size: 20px;
	width: 18%;
	height: 50px;
	text-align: center;
	margin-left: 5px;
	line-height:50px;
}
#head_top #nav li a{
	text-decoration: none;
	color: whitesmoke;
	display: block;
	width: 100%;
	height: 100%;
}
#head_top #nav li a:hover{
	background: white;
	color: cornflowerblue;
		-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:insert 0 1px 2px rgba(0,0,0,.2);
	box-shadow: insert 0 1px 2px rgba(0,0,0,.2);
	-webkit-transition: width .7s;
	-moz-transition: width .7s;
	transition:width .7s;
}
#head_pics{
	height: 385px;
	width: 100%;
	position: relative;
}
#main_map{
	width: 90%;
	height: 460px;
	margin-left: 80px;
}
#main_map p{
	font-size: 24px;
	padding-left: 100px;
	padding-top: 10px;
	font-family: "仿宋";
}
#left{
	width: 30%;
	height: 400px;
	float: left;
	margin-top: 5px;
}
#left #server{
	width: 280px;
	height: 390px;
	border: 1px solid darkgray;
	margin-left: 30px;
	margin-top: 5px;
}
#left #server #first{
	width: 280px;
	height: 50px;
	background: blue;
}
#left #server #first span{
	color: white;
	font-size: 25px;
	padding-left: 20px;
	margin-top: 5px;
	letter-spacing: 1px;
}
#left #server #second{
	width: 280px;
	height: 70px;
}
#second div{
	padding-top: 5px;
	padding-left: 60px;
	font-size: 20px;
	margin-top: 4px;
}
#second div a #img1{
	position: absolute;
	top: 618px;
	left: 255px;
}
#second div a #img2{
	position: absolute;
	top: 650px;
	left: 255px;
}
#three{
	width: 280px;
	height:120px;
	font-size: 17px;
}
#three ul{
	width: 250px;
	height: 110px;
	margin: 0 auto;
	padding-left: 30px;
}
#three li{
	width:100%;
	height: 35px;
}
#three span{
	font-size: 19px;
	font-weight: bold;
}
#last{
	width: 280px;
	height: 100px;
	font-size: 17px;
}
#last ul{
	width: 250px;
	height: 110px;
	margin: 0 auto;
	padding-left: 30px;
}
#last li{
	width:100%;
	height: 35px;
}
#last span{
	font-size: 19px;
	font-weight: bold;
}
#right{
	width: 65%;
	height: 400px;
	float: right;
	margin-top: 5px;
}
#foot{
	height: 100px;
	width: 100%;
	background: #4a4a4a;
	font-size: 14px;
	padding-top: 10px;
	color: gainsboro;
}
#foot a{
	color: gainsboro;
}
#foot a:hover{
	color: #FFFFFF;
}
#start{
	width: 200px;
	height: 20px;
}
select{
	height: 20px;
}
#end{
	width: 200px;
	height: 20px;
}
#result{
	cursor: pointer;
}
#allmap{
	height:365px;
	width:780px;
	margin-top: 2px;
	border: 1px solid darkgrey;
}
#driving_way{
	display: inline;
}
#search{
	margin-top: 2px;
	padding-left: 10px;
}
.button{
	width: 50px;
	line-height: 25px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	text-shadow:1px 1px 1px #333;
	border-radius: 5px;
	margin:0 20px 0px 0;
	position: relative;
	overflow: hidden;
}

.button.blue{
	border:1px solid #1e7db9;
	box-shadow: 0 1px 2px #8fcaee inset,0 -1px 0 #497897 inset,0 -2px 3px #8fcaee inset;
	background: -webkit-linear-gradient(top,#42a4e0,#2e88c0);
	background: -moz-linear-gradient(top,#42a4e0,#2e88c0);
	background: linear-gradient(top,#42a4e0,#2e88c0);
}
/*.blue.tags:after{
	/*background: #1e7db9;*/
	/*border:2px solid #54b1e9;*/	
}*/

.blue.rarrow:before{
	background: #1E7DB9;
}
.blue.rarrow:after{
	box-shadow: 0 1px 0 #8FCAEE inset,-1px 0 0 #497897 inset,-2px 0 0 #8FCAEE inset;
	background:-webkit-linear-gradient(top left,#42A4E0,#2E88C0);
	background:-moz-linear-gradient(top left,#42A4E0,#2E88C0);
	background:linear-gradient(top left,#42A4E0,#2E88C0);
}
.blue:active{
	top:1px;
	box-shadow: 0 1px 3px #114566 inset,0 3px 0 #fff;
	background: -webkit-linear-gradient(top,#1a71a8,#1976b1);
	background: -moz-linear-gradient(top,#1a71a8,#1976b1);
	background: linear-gradient(top,#1a71a8,#1976b1);
}

