*{
	padding: 0;
	margin: 0;
}
#wrap{
	width: 100vw;
	/*background: #1e50ae;*/
}
#head{
	height: 79vh;/*495px*/
	width: 100vw;
}#head_top{
	height: 17.6vh;
	width: 100vw;
	background:#1e50ae;
}
#head_top span{
	display: block;
	float: left;
	font-family:"宋体";
	font-size: 2.59vw;
	color: #ffffff;
	font-weight: bolder;
	letter-spacing: 0.37vw;
	margin: 5.56vh 0 0 9.63vw;
}
#head_top #nav{
	float: right;
	margin: 5.56vh 5.93vw 0 0;
	width: 40vw;      /*540px*/
}
#head_top #nav li{
	float: left;
	font-family: "仿宋";
	font-size: 1.48vw;
	width: 7.2vw;     /*97.2px*/
	height: 7.94vh;
	text-align: center;
	margin-left: 0.37vw;
	line-height:7.94vh;
	list-style-type: none;
}
#head_top #nav li a{
	text-decoration: none;
	color: whitesmoke;
	display: block;
	width: 7.2vw;
	height: 7.94vh;
}
#head_top #nav li a:hover,.con_div img,h3{
	background: white;
	color: cornflowerblue;
		-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:insert 0 1px 2px rgba(0,0,0,.2);
	box-shadow: insert 0 1px 2px rgba(0,0,0,.2);
	-webkit-transition: width .7s;
	-moz-transition: width .7s;
	transition:width .7s;
}
#head_pics{
	height: 61.11vh;
	width: 100vw;
	position: relative;
}
#main{
	width: 76vw;
	height: 158.73vh;
	margin: 0 auto;
	background: url(../img/nbg.gif) no-repeat;
}
#main span{
	display: block;
	height: 6.35vh;
	width: 76vw;
	font-size: 1.41vw;
	padding-left: 5.19vh;
	font-family: "黑体";
	line-height: 5.56vh;
	letter-spacing: 0.15vw;
}
#main ul{
	width: 68.4vw;      /*1026*0.9 = 923.4px*/
	height: 142.86vh;        /* */
	margin: 0 auto;
}
#main ul li{
	width: 68.4vw;
	height: 50vh;
	margin-top: 2.38vh;
	background: url(../img/news11_10.gif) repeat-x 0 bottom;
}
#main ul li .picture{
    float: left;
    width: 23.94vw;
    height: 45vh;
    display: inline;
    margin: 0 1.11vh;
    border: 5vw px solid #F5F5F5;
}
#main ul li .picture img{
	width: 23.94vw;
    height: 45vh;
}
#main ul li .example_title{
    float: left;
    width: 34.2vw;
    height: 4.762vh;
    font-family: "微软雅黑";
    font-size: 1.48vw;
    line-height: 4.762vh;
    overflow: hidden;
    border-bottom: 0.07vw dotted #ccc;
}
#main ul li .detail{
    float: left;
    width: 41.04vw;
    height: 42.5vh;
    line-height: 4.44vh;
    overflow: hidden;
    color: #aaa;
}
#main ul li .detail .tec{
	color: gray;
	font-weight: bold;
}
#main ul li .detail p{
	font-family: "微软雅黑";
	color: #4A4A4A;
}
#foot{
	height: 15.87vh;
	width: 100vw;
	background: #4a4a4a;
	font-size: 1.037vw;
	padding-top: 1.59vh;
	color: gainsboro;
}
#foot a{
	color: gainsboro;
}
#foot a:hover{
	color: #FFFFFF;
}
#foot_textone a{
	 text-align: center; 
	 height: 4.76vh; 
	 line-height: 4.76vh;
}
#foot_texttwo {
	 text-align: center; 
	 height: 4.76vh; 
	 line-height: 4.76vh;
}
