body{
	background:#996600;
}
#container{
	width: 900px;
	margin: 0 auto;
}
#head{
	width: 900px;
	height: 250px;
}
#logo{
	width: 900px;
	height: 160px;
	background: url(../img/Mypsd_59710_201311110840470194B.jpg);
	text-align: center;
	padding-top: 50px;
}
#logo h1{
	font-size:35px;
	color: navajowhite;
	font-family: "微软雅黑";
	margin-bottom: 10px;
}
#logo p{
	font-size: 20px;
	color: black;
	font-family: "微软雅黑";
	margin-bottom: 10px;
}
#nav{
	height: 40px;
	width: 900px;
	background: saddlebrown;
}
#nav ul{
	margin-left: 15px;
	
}
#nav ul li{
	float: left;
	line-height: 40px;
	width: 80px;
	text-align: center;
	
}
#nav ul li a{
	color: white;
	line-height: 40px;
	display: block;
	font-size: 20px;
	width: 80px;
	text-decoration: none;
}
#nav ul li a:hover{
	background: burlywood;
}
#main #left{
	width: 200px;
	
	float: left;
}
#main #right{
	width: 700px;
	
	float: left;
}

