body{
	background: burlywood;
}
#container{
	width: 1000px;
	margin: 0 auto;
}
#head{
	width: 1000px;
	height: 250px;
}
#logo{
	width: 1000px;
	height: 160px;
	background: url(../img/Mypsd_59710_201311110840470194B.jpg);
	text-align: center;
	padding-top: 50px;
}
#logo h1{
	font-size:35px;
	color: navajowhite;
	font-family: "微软雅黑";
	margin-top: 20px;
	margin-bottom: 10px;
}
#logo span{
	font-size:25px;
	color: blueviolet;
	font-family: "微软雅黑";
}
#nav{
	height: 40px;
	width: 1000px;
	background: saddlebrown;
}
#nav ul{
	margin-left: 15px;
	
}
#nav ul li{
	float: left;
	line-height: 40px;
	width: 80px;
	text-align: center;
	
}
#nav ul li a{
	color: white;
	line-height: 40px;
	display: block;
	font-size: 20px;
	width: 80px;
	text-decoration: none;
}
#nav ul li a:hover{
	background: burlywood;
}
#main #left{
	width: 195px;
	height: 1300px;
	float: left;
	background: burlywood;
	padding: 10px 0 0 10px;
	border: 1px solid darkkhaki;
}
#left #pass{
	margin-top: 15px;
}
#left #pass li{
	font-size: 18px;
	margin-bottom: 15px;
}
#left #more{
	float: right;
	font-size: 25px;
}
#left #more a{
	color: red;
}
#main #right{
	width: 780px;
	height: 1300px;
	float: left;
	background: antiquewhite;
	padding: 10px 0 0 10px;
}
#right #content{
	height: 700px;
	width: 600px;
	word-wrap: break-word; 
	text-indent: 15px;
	font-family: "微软雅黑";
	font-size: 20px;
	margin-left: 40px;
}

